<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>7</ApplicationRevision>
    <ApplicationVersion>2.1.1.*</ApplicationVersion>
    <AutorunEnabled>True</AutorunEnabled>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
	<PackageFile Name="O2003PIA.msi" HomeSite="msiRef"></PackageFile>
	<IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>171156651531D333C2ADD4B740CA8C7A7A392C5F</ManifestCertificateThumbprint>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Book Of Shadows</ProductName>
    <PublishDir>C:\Program Files (x86)\</PublishDir>
    <PublishUrl>C:\Program Files (x86)\</PublishUrl>
    <PublisherName>Kyle Martinez</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net6.0-windows10.0.22621.0</TargetFramework>
    <TrustUrlParameters>True</TrustUrlParameters>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
    <InstallUrl>https://rawgithub.com/elyk17/bos/releases/tag/V1.0.0/</InstallUrl>
    <BootstrapperComponentsLocation>Relative</BootstrapperComponentsLocation>
    <MinimumRequiredVersion>2.1.1.7</MinimumRequiredVersion>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="book.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>